span.error-type {
    text-transform: uppercase;
}

button.btn.submit {
    font-size:13px;
    font-weight:600;
    font-family: HelveticaNeue, sans-serif;
}

a.link-muted {
    color:#8f98a3;
    text-decoration:underline;
}

#nav-migrationmanager span[data-icon="newstamp"] {
    position: absolute;
    color:#da5a47;
    display: block;
    right:0;
    width:22px;
    height:22px;
    font-size:22px;
    margin:8px;
    pointer-events: none;
}

#nav-migrationmanager span[data-icon="newstamp"] span {
    color:white;
    position: absolute;
    font-size:11px;
    line-height:22px;
    top:0;
    left:0;
    width:100%;
    text-align:center;
}
