{% extends "migrationManager/_layouts/cp" %}

{% set title = 'Create Migration'|t %}

{% set crumbs = [
    { label: craft.migrationManager.name, url: url('migrationmanager') },
    { label: 'Create Migration'|t, url: url('migrationmanager/create') }
] %}

{% set tabs = {} %}

{# Supported types #}
{% set fields = craft.fields.getAllFields() -%}
{% if fields is not empty %}
    {% set tabs = tabs | merge({ fields: { label: 'Fields'|t, url: '#fields' } }) %}
{% endif %}

{% set sections = craft.sections.getAllSections() -%}
{% if sections is not empty %}
    {% set tabs = tabs | merge({ sections: { label: 'Sections'|t, url: '#sections' } }) %}
{% endif %}

{% set assetSources = craft.migrationManager.getAssetSources() -%}
{% if assetSources is not empty %}
    {% set tabs = tabs | merge({ assetSources: { label: 'Asset Sources'|t, url: '#assetSources' } }) %}
{% endif %}

{% set imageTransforms = craft.migrationManager.getAssetTransforms() -%}
{% if imageTransforms is not empty %}
    {% set tabs = tabs | merge({ imageTransforms: { label: 'Image Transforms'|t, url: '#imageTransforms' } }) %}
{% endif %}

{% set globals = craft.globals.getAllSets() -%}
{% if globals is not empty %}
    {% set tabs = tabs | merge({ globals: { label: 'Globals'|t, url: '#globals' } }) %}
{% endif %}

{% set categories = craft.categoryGroups.getAllGroups() -%}
{% if categories is not empty %}
    {% set tabs = tabs | merge({ categories: { label: 'Categories'|t, url: '#categories' } }) %}
{% endif %}

{% set tags = craft.migrationManager.getAllTagGroups() -%}
{% if tags is not empty %}
    {% set tabs = tabs | merge({ tags: { label: 'Tags'|t, url: '#tags' } }) %}
{% endif %}

{% set locales = craft.i18n.getSiteLocales() -%}
{% if locales is not empty %}
    {% set tabs = tabs | merge({ locales: { label: 'Locales'|t, url: '#locales' } }) %}
{% endif %}

{% if CraftEdition > CraftClient %}
    {% set userGroups = craft.userGroups.getAllGroups() -%}
    {% if userGroups is not empty %}
        {% set tabs = tabs | merge({ userGroups: { label: 'User Groups'|t, url: '#userGroups' } }) %}
    {% endif %}
{% endif %}

{% set other = { label: 'Other Settings'|t, url: '#other' } %}
{% set tabs = tabs | merge({ other: other }) %}

{% block content %}
    <form class="field toolbar" action="" method="post" accept-charset="UTF-8">
        <input type="hidden" name="action" value="migrationManager/createMigration">
        {{ getCsrfInput() }}

        {% set firstRendered = false %}
        {% for tabHandle, tab in tabs %}
            {% if attribute(_context, tabHandle) is not empty %}
                <div id="{{ tabHandle }}"{% if firstRendered %} class="hidden"{% endif %}>
                    {% include 'migrationmanager/types/' ~ tabHandle %}
                </div>
                {% set firstRendered = true %}
            {% endif %}
        {% endfor %}



        <div class="field " id="title-field">
            <div class="heading">
                <label id="title-label" for="title">Migration Name</label>
                <div class="instructions"><p><span class="locale">* Optional</span> enter a migration name instead of using the auto generated name. Alphanumeric and dashes only.</p>
                </div>
            </div>
            <div class="input ltr">
                <input class="text fullwidth" style="max-width:600px;" type="text" id="migrationName" name="migrationName" value="" maxlength="255" autocomplete="off" placeholder="migration name"  pattern="[A-Za-z0-9_\-]+">
            </div>
        </div>


        <div class="buttons clearafter">


            <button class="btn submit export-btn" name="submit" value="create">
                {{ 'Create Migration'|t }}
            </button>
        </div>

        <div class="warning">
            {{ 'To create an empty migration for custom purposes (ie deleting a field) click "Create Migration" without selecting anything to export.'|t }}
        </div>
    </form>
{% endblock %}

{% includeCssResource "migrationmanager/css/styles.css" %}
{% includeJsResource "migrationmanager/js/MigrationManagerExport.js" %}
{% includejs %}
    new Craft.MigrationManagerExport();
{% endincludejs %}


