span.error-type {
    text-transform: uppercase;
}

button.btn.submit {
    font-size:13px;
    font-weight:600;
    font-family: HelveticaNeue, sans-serif;
}

a.link-muted {
    color:#8f98a3;
    text-decoration:underline;
}