<table class="data fullwidth collapsible">
  <thead>
    <tr>
        <th>
            <div class="field checkboxfield">
                <input type="checkbox" id="allSettings" class="checkbox checkbox-toggle" name="allSettings" value="all" data-selector="settings"> <label for="allSettings">Setting</label>
            </div>
        </th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td scope="row" class="name">
            <input type="checkbox" id="settingsRoutes" class="checkbox" name="settingsRoutes[]" value="1"> <label for="settingsRoutes">Routes</label>
        </td>
    </tr>
    <tr>
        <td scope="row" class="name">
            <input type="checkbox" id="settingsEmails" class="checkbox" name="settingsEmailMessages[]" value="1"> <label for="settingsEmails">Email Messages</label>
        </td>

    </tr>
  </tbody>
</table>