{% extends 'migrationManager/_layouts/cp' %}

{% set title = 'Migration Logs'|t %}

{% set crumbs = [
    { label: craft.migrationManager.name, url: url('migrationmanager') },
    { label: 'Migration Logs'|t, url: url('migrationmanager/logs') }
] %}

{% import "_includes/forms" as forms %}

{% set content %}
    {% for logEntry in logEntries %}
        <h3>{{ logEntry.dateTime.format('Y-m-d H:i:s') }}</h3>
        <p><span class="error-type">{{ logEntry.level|upper }}</span>&nbsp;{{ logEntry.message }}</p>
        {% if not loop.last %}<hr>{% endif %}
    {% endfor %}
{% endset %}